@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dropdown-menu{
    height:110px;
    overflow:auto;
}

.dialog-with-table {
    min-height: 380px;
}

.dialog-without-table {
    height: 190px;
}

.check-btn {
    border-radius: 0;
    background-color: #1E1E1E !important;
    text-align: right;
}

.loading-overlay-head-to-head ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #1E1E1E;
}

.table-wrap {
    display:flex;
    justify-content: center;
    margin-top:0px;
}

.score-table {
    width: 800px;
}

.paginator {
    width: 800px;
}

.loading-overlay-head-to-head {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index:10001;
}

.input-player {
    margin-bottom: 20px;
    width: 70%;
}

@media (max-width: 600px) and (orientation: portrait) {
    .mat-dialog-content {
        min-height: 250px;
    }

    .input-player {
        margin-bottom: 20px;
        width: 100%;
    }

    .score-table {
        width: 500px;
    }

    .paginator {
        width: 500px;
    }
    
}

@media (max-width: 900px) and (orientation: landscape) {
    .mat-dialog-content {
        min-height: 195px;
    }

    .input-player {
        margin-bottom: 20px;
        width: 85%;
    }

    .score-table {
        width: 515px;
    }

    .paginator {
        width: 515px;
    }
    
}