@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dropdown-menu{
    height:110px;
    overflow:auto;
   }

.mat-dialog-content {
    min-height: 250px;
}

.check-btn {
    border-radius: 0;
    background-color: #883CF8 !important;
    text-align: right;
}

.table-wrap {
    display:flex;
    justify-content: center;
    margin-top:0px;
}

.score-table {
    width: 800px;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index:10001;
}

.input-player {
    margin-bottom: 20px;
    width: 70%;
}

@media (max-width: 600px) and (orientation: portrait) {
    .mat-dialog-content {
        min-height: 250px;
    }

    .input-player {
        margin-bottom: 20px;
        width: 100%;
    }

    .score-table {
        width: 500px;
    }
    
}

@media (max-width: 900px) and (orientation: landscape) {
    .mat-dialog-content {
        min-height: 195px;
    }

    .input-player {
        margin-bottom: 20px;
        width: 85%;
    }

    .score-table {
        width: 515px;
    }
    
}