/* You can add global styles to this file, and also import other style files */
@import './app/main-view/main-view.component.scss';
@import './app/entry-result/entry-result.component.scss';
@import './app/entry-player/entry-player.component.scss';
@import './app/h2h/h2h.component.scss';

html { 
    background: url('/assets/background3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 10000001;
}
body {
    background: url('/assets/background3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #1E1E1E !important;
}
