@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.main-container {
    width: 100%;
  
}
.toolbar {
    display: flex;
    justify-content: space-between;
}
.table-wrap {
    display:flex;
    justify-content: center;
    margin-top:0px;
    margin-bottom: 150px;
}
.score-table {
    width: 100%;
}

.select-game {
    margin-top: 23px;
    margin-left: 13px;
}

.select-game mat-label {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}

.selected-game-logo {
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

.mat-table {
    max-height: 400px;
    overflow: auto;
    width: 100%;
}

.button-add-parent {
    background-color:#fff;
    height: 50px;
}

.button-add-parent button {
    border-radius: 0;
    background-color: #883CF8;
    text-align: right;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index:10001;
}